@import url(http://fonts.googleapis.com/css?family=Indie+Flower);

html {
  height: 100%
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}


#map_canvas {
  height: auto;
  width: 70%;
}

#directions-panel {
  float: none;
  width: 30%;

}

#map_route {
  display: flex;
  clear: both;
   margin: 0 auto;
   height: auto;

}

#calculate_route input{
 border: 2px solid #090768;
background-color: #F1EEE9;
color: #090768;
font-family: 'Indie Flower', serif;
display: inline;
}