<div class="container">
  <h1>Welcome to SteppingUp!</h1>
</div>

  <div id="form">
    <table align="center" valign="center">
      <tr>
        <td colspan="7" align="center"><b>Find the distance between two locations</b></td>
      </tr>
      <tr>
        <td colspan="7">&nbsp;</td>
      </tr>
      <tr>
        <td>First address:</td>
        <td>&nbsp;</td>
        <td><input type="text" name="address1" id="address1" size="50"/></td>
        <td>&nbsp;</td>
        <td>Second address:</td>
        <td>&nbsp;</td>
        <td><input type="text" name="address2" id="address2" size="50"/></td>
        <td>&nbsp;</td>
        <td>Step Count:</td>
        <td>&nbsp;</td>
        <td><input type="integer" name="steps" id="steps" size="10"/></td>
      </tr>
      <tr>
        <td colspan="7">&nbsp;</td>
      </tr>
      <tr>
        <td colspan="7" align="center"><input type="button" value="Show" onclick="initialize();"/></td>
      </tr>
    </table>
  </div>
  <center><div style="width:100%; height:10%" id="distance_direct"></div></center>
  <center><div style="width:100%; height:10%" id="distance_road"></div></center>

  <div id="map_canvas"></div></center>
