<div id="form">
  <form>
    <p>
      <label>First address: </label>
      <input type="text" name="address1" id="address1" size="50"/></p>
    <p>
       <label>Second address: </label>
       <input type="text" name="address2" id="address2" size="50"/></p>
    <p>
       <label>Step Count: </label>
       <input type="integer" name="steps" id="steps" size="10"/></p>
    <p>
      <input type="button" value="Show" onclick="initialize();"/></p>
  </div>