<div id="form">
  <form id="calculate-route" name="calculate-route" action="#" method="get">
      <label>First address: </label>
      <input type="text" name="address1" id="address1" size="50"/>
      <a id="from-link" href="#">Get my position</a>
       <label>Second address: </label>
       <input type="text" name="address2" id="address2" size="50"/>
       <a id="to-link" href="#">Get my position</a>
       <label>Step Count: </label>
       <input type="integer" name="steps" id="steps" size="10"/>
      <input type="button" value="Show"  onclick="initialize();"/>
  </div>
html {
  height: 100%
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}


#map_canvas {
  height: auto;
  width: 70%;
}

#directions-panel {
  float: none;
  width: 30%;

}

#map_route {
  display: flex;
  clear: both;
   margin: 0 auto;
   height: auto;

}